<header class="header">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%- url_for() %>" title="<%= config.subtitle %>"><%= config.title %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% for (var i in theme.menu){ %>
        <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
      <%- partial('_widget/search') %>
    </div>
  </div>
</nav>

<div class="container">
  <div class="blog-header">
    <h1 class="blog-title"><%= config.title %></h1>
    <% if (theme.subtitle){ %>
    <p class="lead blog-description"><%= theme.subtitle %></p>
    <% } %>
  </div>
</div>
</header>
